<div class="page-header">
  <%= link_to admin_administrators_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_admin_administrator_path(@admin_administrator), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Detalhes Administrador</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_administrator.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @admin_administrator.telefone %></dd>

  <dt>Cpf:</dt>
  <dd><%= @admin_administrator.cpf %></dd>

</dl>
