<div class="page-header">
  <%= link_to new_sales_seller_course_video_path(@seller, @course), class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Aula
  <% end %>
  <%= link_to sales_seller_courses_path(@seller), class: 'btn btn-default' do %>
    Voltar
  <% end %>
  <h1>Aulas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Link</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sales_videos) do |sales_video| %>
        <td><%= sales_video.nome %></td>
        <td><%= sales_video.descricao %></td>
        <td><%= sales_video.link %></td>
        <td><%= link_to 'Mostrar', sales_seller_course_video_path(@seller, @course, sales_video) %></td>
        <td><%= link_to 'Editar', edit_sales_seller_course_video_path(@seller, @course, sales_video) %></td>
        <td><%= link_to 'Remover', sales_seller_course_video_path(@seller, @course, sales_video), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
