<div class="page-header">
  <%= link_to sales_addresses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_sales_address_path(@sales_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar sales_address</h1>
</div>

<dl class="dl-horizontal">
  <dt>Rua:</dt>
  <dd><%= @sales_address.rua %></dd>

  <dt>Numero:</dt>
  <dd><%= @sales_address.numero %></dd>

  <dt>Estado:</dt>
  <dd><%= @sales_address.estado %></dd>

  <dt>Cep:</dt>
  <dd><%= @sales_address.cep %></dd>

  <dt>Bairro:</dt>
  <dd><%= @sales_address.bairro %></dd>

  <dt>Sales seller:</dt>
  <dd><%= @sales_address.sales_seller %></dd>

</dl>
