<div class="page-header">
  <%= link_to new_client_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo User
  <% end %>
  <h1>Listando client_users</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Cpf</th>
            <th>Email</th>
            <th>Password digest</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @client_users) do |client_user| %>
            <td><%= client_user.nome %></td>
            <td><%= client_user.telefone %></td>
            <td><%= client_user.cpf %></td>
            <td><%= client_user.email %></td>
            <td><%= client_user.password_digest %></td>
            <td><%= link_to 'Mostrar', client_user %></td>
        <td><%= link_to 'Editar', edit_client_user_path(client_user) %></td>
        <td><%= link_to 'Remover', client_user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
