<div class="page-header">
  <%= link_to client_users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_client_user_path(@client_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar client_user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @client_user.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @client_user.telefone %></dd>

  <dt>Cpf:</dt>
  <dd><%= @client_user.cpf %></dd>

  <dt>Email:</dt>
  <dd><%= @client_user.email %></dd>

  <dt>Password digest:</dt>
  <dd><%= @client_user.password_digest %></dd>

</dl>
