<% 
  @selected ||= @videos.first
%>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

  <div id="progressBarContainer">
    <div id="progressBar" style="width: <%=@percentage%>%">
      <p id="progressBarValue" style="margin-left: <%=@percentage%>%;">
        <%= @percentage %>%
      </p>
    </div>
  </div>

  <ul class='videoTitleList'>
    <% @videos.each do |video| %>
      <li onclick="getVideo(<%= video.id %>)" id="lesson<%= video.id %>">
        <%= video.nome %>
        <% if video.concluido %>
          <span style="color: green; font-size: 1.3em; float:right;" id="check<%=video.id%>">✓</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class='openBtnContainer'>
  <button class="openbtn" onclick="openNav()">☰</button>
</div>

<div class='videosContainer'>
  <h3 id="lessonTitle"><%= @selected.nome %></h3>
  <div id="player"></div>
  <p id="lessonDescription"></p>
</div>

<script>
  var player;
  var currentLesson = <%= @selected.id %>

  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }

  function concludeLesson() {
    $.post("/client/courses/<%= @course.id %>/videos/" + currentLesson+ ".json", function(data, status){
      $("#progressBar").css("width", data.percentage + "%");
      $("#progressBarValue").css("margin-left", data.percentage + "%");
      $("#progressBarValue").text(data.percentage + "%");

      if (data.concluded) {
        alert("Parabéns por ter finalizado o curso!");
        window.location.href = '/'
        return;
      }
      
      if (!$("#check" + currentLesson).text()) {
        $("#lesson" + currentLesson).append("<span style=\"color: green; font-size: 1.3em; float:right;\" id=\"check" + currentLesson + "\">✓</span>")
      }
      alert("Parabéns por ter finalizado a aula");
      getVideo(data.next_lesson.sales_video_id);
    });
  }

  function getVideo(id) {
    $.get("/client/courses/<%= @course.id %>/videos/" + id+ ".json", function(data, status){
      $("#lessonTitle").text(data.nome);
      $("#lessonDescription").text(data.descricao);
      currentLesson = id;
      player.loadVideoById(data.youtube_video_id);
    });
  }

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: '<%= @selected.youtube_video_id %>',
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }
  
  function onPlayerStateChange(event) {
    console.log("Estado atual do player: ", player.getPlayerState())
    if (player.getPlayerState() == 0) {
      concludeLesson()
    }
  }
</script>