<div class="page-header">
  <%= link_to new_admin_administrator_bank_account_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Conta Bancaria
  <% end %>
  <h1>Listando Contas Bancarias</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Agencia</th>
        <th>Banco</th>
        <th>Admin administrator</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @admin_bank_accounts) do |admin_bank_account| %>
        <td><%= admin_bank_account.numero %></td>
        <td><%= admin_bank_account.agencia %></td>
        <td><%= admin_bank_account.banco %></td>
        <td><%#= admin_bank_account.admin_administrator %></td>
        <td><%= link_to 'Mostrar', admin_administrator_bank_account_path(@administrator, admin_bank_account) %></td>
        <td><%= link_to 'Editar', edit_admin_administrator_bank_account_path(@administrator, admin_bank_account) %></td>
        <td><%= link_to 'Remover', admin_administrator_bank_account_path(@administrator, admin_bank_account), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
