<div class="page-header">
  <%= link_to new_sales_seller_course_path(@seller), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Course
  <% end %>
  <h1>Listando sales_courses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Link</th>
        <th>Sales seller</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sales_courses) do |sales_course| %>
        <td><%= sales_course.nome %></td>
        <td><%= sales_course.descricao %></td>
        <td><%= sales_course.link %></td>
        <td><%= sales_course.sales_seller %></td>
        <td><%= link_to 'Mostrar', sales_seller_course_path(@seller, sales_course) %></td>
        <td><%= link_to 'Editar', edit_sales_seller_course_path(@seller, sales_course) %></td>
        <td><%= link_to 'Remover', sales_seller_course_path(@seller, sales_course), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
