<div class="page-header">
  <%= link_to sales_seller_courses_path(@seller), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_sales_seller_course_path(@seller, @sales_course), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar sales_course</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @sales_course.nome %></dd>

  <dt>Descricao:</dt>
  <dd><%= @sales_course.descricao %></dd>

  <dt>Link:</dt>
  <dd><%= @sales_course.link %></dd>
</dl>

<%= link_to "Vídeos", sales_seller_course_videos_path(@seller, @sales_course), class: 'btn btn-default' %>
