<div class="page-header">
  <%= link_to new_admin_course_video_path(@course), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Video
  <% end %>
  <h1>Listando admin_videos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Link</th>
        <th>Admin curso</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @admin_videos) do |admin_video| %>
        <td><%= admin_video.nome %></td>
        <td><%= admin_video.descricao %></td>
        <td><%= admin_video.link %></td>
        <td><%#= admin_video.admin_curso %></td>
        <td><%= link_to 'Mostrar', admin_course_videos_path(@course, admin_video) %></td>
        <td><%= link_to 'Editar', edit_admin_course_video_path(@course, admin_video) %></td>
        <td><%= link_to 'Remover', admin_course_videos_path(@course, admin_video), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
